body
{
    background-color: #EBEBEB;
    margin: 15px 40px 40px 40px;
    font: 14px/20px normal Helvetica, Arial, sans-serif;
    color: #4F5155;
}

iframe
{
	margin: 0 auto;
	display: block;
}

#header
{
    width: 800px;
    margin: 0 auto;
    display: block;
    text-align: center;
    color: #4b78a1;
}

#header img
{
    width: 800px;
    margin-bottom: -15px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}

#wrapper
{
    border: 1px solid #D0D0D0;
    -webkit-box-shadow: 0 0 8px #D0D0D0;
    -moz-box-shadow: 0 0 8px #D0D0D0;
    -o-box-shadow: 0 0 8px #D0D0D0;
    box-shadow: 0 0 8px #D0D0D0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    width: 800px;
    margin: 25px auto 0 auto;
    background: #FFF;
}

#nav
{
    width: 100%;
    height: 46px;
    border-bottom: 1px solid #D0D0D0;
}

#nav ul
{
    list-style: none;
    padding-left: 0;
}

#nav ul li
{
    display: inline;  
    padding-left: 15px;
    padding-right: 15px;
}

#nav ul li a
{
    text-decoration: none;
    padding: 2px 0;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    transition: color 0.5s;
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    -o-transition: color 0.5s;
}

.active
{
    border-bottom: 3px solid #4B78A1;
}

#nav ul li a:hover
{
    color: #4B78A1;   
}

a
{
    text-decoration: none;
    color: #4B78A1;
}

#content
{
    width: 100%;
}

h1
{
    color: #4b78a1;
    background-color: transparent;
    font-size: 24px;
    font-weight: bold;
    padding: 14px 15px 10px 15px;
    text-align: center;
}

#content img
{
    display: block;
    margin: 0 auto 0 auto;
    border-radius: 10px;
}

#body
{
    margin: 0 25px 25px 25px;  
}

h3
{
    color: #4B78A1;
}

#body p
{
    margin-left: 10px;   
    padding-left: 5px;
}

#footer
{
    width: 800px; 
    padding-top: -200px;
    margin: 0 auto 0 auto;
}

#footer p
{
    font-size: 10px;
    text-align: center;
}

#donate td
{
    padding-left: 15px;
    padding-right: 15px;
    vertical-align: text-top;
    width: 45%;
}

#donate th
{
    padding: 0;
}

td.donate
{
    text-align: center;
}

#donate-instruction
{
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;   
}

#donate-instruction a.donate
{
    padding-right: 10%;
    padding-left: 10%;
}

a.donate
{
    font-weight: bold;
    color: #FFF;
    padding: 10px 15px 10px 15px;
    background-color: #4B78A1;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}

#nav a.donate
{
    float: right;
    position: relative;
    top: -45px;
    right: 10px;
}

#instructions img
{
	width: 700px;
}

#left-column
{
    width: 50%; 
    float: left;
}

#right-column
{
    width: 50%;
    float: right;   
}

.clear
{
    clear: both;  
    overflow: hidden;
}
#register
{
    width: 155px;
    margin: 20px auto 0 auto;
}
#submit
{
    width: 153px;    
}
.right
{
    float: right;
}