body
{
    margin: 0;
    font: 16px/20px normal Helvetica, Arial, sans-serif;
}

#nav
{
    height: 58px;
}

#nav ul li a
{
    font-size: 22px;
}

h1
{
    font-size: 30px;
}

h3
{
    font-size: 22px;
}

/*#header
{
    max-width: 800px;
    width: 100%;
}

#header img
{
    max-width: 800px;
    width: 100%;
}

#wrapper
{
    max-width: 800px;
    width: 100%;
}

#nav
{
    height: 100%;
}

#nav ul li
{
    padding-left: 2%;
    padding-right: 2%;
}

#nav ul li a 
{
    font-size: 13px;
}

#nav a.donate
{
    float: none;
    position: static;
}*/
