body
{
    margin: 0;
    font: 16px/20px normal Helvetica, Arial, sans-serif;
}

#nav
{
    height: 58px;
}

#nav ul li a
{
    font-size: 22px;
}

h1
{
    font-size: 30px;
}

h3
{
    font-size: 22px;
}
