body
{
    background-color: #FF9999;
    margin: 15px 40px 40px 40px;
    font: 14px/20px normal Helvetica, Arial, sans-serif;
    color: #4F5155;   
}

#header
{
    width: 800px;
    margin: 0 auto 0 auto;
    text-align: center;
    color: #424242;
}

#header img
{
    width: 800px;
    margin-bottom: -20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#wrapper
{
    border: 1px solid #D0D0D0;
    -webkit-box-shadow: 0 0 8px #D0D0D0;
    -moz-box-shadow: 0 0 8px #D0D0D0;
    box-shadow: 0 0 8px #D0D0D0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    width: 800px;
    margin: 25px auto 25px auto;
    background: #FFF;
}

#nav
{
    margin-top: -15px;
    width: 100%;
    height: 48px;
    background-color: #424242;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
}

#nav ul
{
    list-style: none;
    padding-top: 15px;
    padding-left: 0px;
}

#nav ul li
{
    display: inline;  
    padding-left: 15px;
    padding-right: 15px;
}

#nav ul li a
{
    text-decoration: none;
    padding: 2px 0;
    font-size: 16px;
    font-weight: bold;
    color: #FFF;
    /*color: #A6C4E1; */
    transition: color 0.5s;
    -webkit-transition: color 0.5s;
}

#nav ul li a.active
{
    border-bottom: 3px solid #5796B5;
    /*color: #4B78A1;*/
}

#nav ul li a:hover
{
    color: #5796B5;   
}

a
{
    text-decoration: none;
    color: #4B78A1;
}

#content h1
{
    color: #4B78A1;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin: 0 0 14px 0;
    padding: 14px 15px 10px 15px;
    text-align: center;
}

#content img
{
    display: block;
    margin: 0 auto 0 auto;
    border-radius: 10px;
}

#body
{
    margin: 0 25px 25px 25px;  
}

#body h3
{
    color: #4B78A1;
}

#body p
{
    margin-left: 10px;   
    padding-left: 5px;
}

#footer
{
    width: 800px;
    text-align: center;
    font-size: 10px;
    margin: 0 auto 0 auto;   
}

#donate td
{
    padding-left: 15px;
    padding-right: 15px;
    vertical-align: text-top;
}

#donate th
{
    padding: 0px;
}

td.donate
{
    text-align: center;
}

a.donate
{
    font-weight: bold;
    color: #FFF;
    padding: 10px 15px 10px 15px;
    background-color: #4B78A1;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#nav a.donate
{
    float: right;
    position: relative;
    top: -45px;
    right: 10px;
}

#instructions img
{
	width: 700px;
}