body
{
    background-color: #FAFAFA;
    margin: 0;
    font: 14px/20px normal Helvetica, Arial, sans-serif;
    color: #4F5155;
}

a
{
    text-decoration: none;
    color: #4F5155;
}

input, select
{
    box-sizing: border-box;
    width: inherit;
}

input[type=text], input[type=password], input[type=email], select
{
    display: block;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    border: 1px #BBB solid;
    padding: 5px;
}

input[type=submit], input[type=button]
{
    border: none;   
    color: #EEE;
    background: #4B78A1;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    padding: 5px;
}

#user_form
{
    width: 400px;
}

input:disabled
{
    background: #98ACBD;
}

.header
{
    background: #212121;
	background: -webkit-linear-gradient(top, #3B3B3B, #212121);
	background: -moz-linear-gradient(top, #3B3B3B, #212121);
	background: -o-linear-gradient(top, #3B3B3B, #212121);
	background: -ms-linear-gradient(top, #3B3B3B, #212121);
	background: linear-gradient(top, #3B3B3B, #212121);
	text-align: center;
	color: #F0F0F0;
	padding: 5px;
}

.wrapper
{
	border-bottom: #4F5155 solid 2px;
}

.nav
{
	background-color: #1C1B1A;
	display: inline-block;
	border-right: #4F5155 solid 2px;
	width: 190px;
}

.nav ul
{
	min-height: 800px;
	list-style: none;
	padding: 0;
	margin: 0;
}

.nav ul li
{	
	border-bottom: #A8A8A8 solid 1px;
}

.nav ul li a
{
    display: inline-block;
	width: 160px;
	padding: 10px 15px;
	text-decoration: none;
	color: white;
}

.nav ul li a:hover
{
    font-weight: bold;
	color: #1C1B1A;
	background-color: white;
}

.content
{
	margin: 15px;
	display: inline-block;
	vertical-align: top;
}

.footer
{
    width: 800px; 
    margin: 0 auto 0 auto;
}

.footer p
{
    font-size: 10px;
    text-align: center;
}

table
{
    -webkit-border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-top-right-radius: 5px;
    -moz-border-top-left-radius: 5px;
    -o-border-top-right-radius: 5px;
    -o-border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-spacing: 0;
    border-collapse: separate;
}

th
{
    background: #212121;
    background: -webkit-linear-gradient(top, #3B3B3B, #212121);
    background: -moz-linear-gradient(top, #3B3B3B, #212121);
    background: -o-linear-gradient(top, #3B3B3B, #212121);
    background: -ms-linear-gradient(top, #3B3B3B, #212121);
    background: linear-gradient(top, #3B3B3B, #212121);
    color: #EBEBEB;
    font-weight: 400;
    border-right: 1px solid #46484D;
    padding: 10px 15px;
}

th:first-child
{
    border-left: none;
    -webkit-border-top-left-radius: 5px;
    -moz-border-top-left-radius: 5px;
    -o-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
}

th:last-child
{
    border-right: none;
    -webkit-border-top-right-radius: 5px;
    -moz-border-top-right-radius: 5px;
    -o-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
}

tr > :not(th)
{
    border-right: 1px solid #46484D;
    padding: 5px 15px;
}

td:first-child
{
    border-left: 1px solid #46484D;
}

tr:last-child > td
{
    border-bottom: 1px solid #46484D;
}

li a i.fa
{
    margin-left: -8px;
    margin-right: 5px;
}

.clear
{
    clear: both;
}

.parent_info
{
    border-radius: 10px;
    background: #212121;
    background: -webkit-linear-gradient(top, #3B3B3B, #212121);
    background: -moz-linear-gradient(top, #3B3B3B, #212121);
    background: -o-linear-gradient(top, #3B3B3B, #212121);
    background: -ms-linear-gradient(top, #3B3B3B, #212121);
    background: linear-gradient(top, #3B3B3B, #212121);
    color: #EBEBEB; 
    padding: 0 10px;  
    width: 100%;
}

.collapse
{
    width: auto;
}

.parent_info p
{
    display: inline-block;
    padding: 0 5px;
    text-align: center;
}


.parent_info i
{
    position: relative; 
    float: right; 
    top: 17px;
}


.child_info
{
    display: none;
    box-shadow: 0px 6px 15px #363636;
    color: #393B3F;
    padding: 5px 10px;
    
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-bottom-left-radius: 5px;
    -o-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
    
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-bottom-right-radius: 5px;
    -o-border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    
    margin-bottom: 2px;
    width: 100%;
}

.child_info > ul
{
    list-style: none;
    padding: 0 0 0 10px;
}

.toggled
{
    -webkit-border-bottom-left-radius: 0;
    -moz-border-bottom-left-radius: 0;
    -o-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0; 
    
    -webkit-border-bottom-right-radius: 0;
    -moz-border-bottom-right-radius: 0;
    -o-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0; 
}

.toggled + .child_info
{
    margin-bottom: 10px;
}

.center
{
    text-align: center;
}

td > a
{
    color: #4F5155;
}

.error
{
    font-size: 11px;
    color: red;
}

.page_list
{
    border-left: 3px solid #6B6B6B;
    padding-left: 10px;
    width: 195px;
    margin-right: 150px;
    display: inline-block;
    vertical-align: top;
}

.page_info
{
    color: #777;
    position: relative;
    border-bottom: 2px solid #C3C3C3;
    padding: 5px;
    margin-bottom: 5px;
    transition: border-bottom-color 1s;
    -webkit-transition: border-bottom-color 1s;
    -moz-transition: border-bottom-color 1s;
    -o-transition: border-bottom-color 1s;
}

.page_info:hover
{
    border-bottom-color: #393B3F;
}

.page_info p
{
    display: inline-block;
    padding: 0;
    margin: 0;
}

.page_info > *:first-child
{
    font-size: 16px;
    font-weight: bold;
    position: relative;
    top: -8px;
    width: 150px;
}

.page_info p i
{
    display: block;
    padding: 3px;
    color: #A2A2A2;
}

.page_info p i:hover
{
    cursor: pointer;
    cursor: hand;
    color: #393B3F;
}

.page_info p:first-child:hover
{
    color: #393B3F;
    cursor: pointer;
    cursor: hand;
}

.page_content
{
    opacity: 0;
    display: inline-block;
    vertical-align: top;
}

.active
{
    color: #393B3F;
    border-bottom-color: #393B3F;
}

.options > input, select
{
    display: inline-block;
}

.options > input
{
    padding-right: 10px;
    padding-left: 10px;
}
